h1{
    color: brown;
    text-align: center;
}
.pp{
    background-color: coral;
    text-align: center;
    padding: 20px;
}
.dd{
    border: 5px;
    border-color: solid salmon;
    height: 500px;
    width: 600px;
    display: block;
    margin: auto;
    margin: auto;
}